{% extends "../base.html" %}

{% block title %}home{% end %}


{% block body %}

{% module Sidebar() %}
{% module Menubar() %}


<div class="pusher">

    <div class="ui vertical stripe quote segment">

        <div class="ui container">
            <div class="introduction">
                <div class="ui hidden divider"></div>
                <div class="ui hidden divider"></div>
                <div class="ui hidden divider"></div>
                <div class="ui hidden divider"></div>
            </div>
        </div>

        hello

    </div>
</div>


<script>
</script>
{% end %}

