<!-- Sidebar Menu -->

<div class="ui vertical accordion sidebar menu left">
    <a href="/" class="active item">Home</a>
    {% for name in names %}
    <div class="item">
        <a class="title">
            <i class="dropdown icon"></i>
            {{ name.get("name") }}
        </a>
        <div class="content">
            <div class="grouped fields">
                <div class="field">
                    <a data-tab>X-Large</a>
                </div>
            </div>
        </div>
    </div>
    {% end %}

    <button onclick="$('.ui.modal').modal('show');" class="ui yellow button">添加项目</button>
</div>

{#<div class="ui black big launch right attached fixed button">#}
{#    <i class="content icon"></i>#}
{#    <span class="text">Menu</span>#}
{#</div>#}


